*{
	padding: 0;
	margin: 0;
	font-family: Ubuntu;
}
@font-face {
  font-family: Ubuntu;
  src: url('ubuntu/Ubuntu-Bold.ttf'); 
}
.box{
	height: auto;
	max-width: 560px;
	background: linear-gradient( 150deg, rgb(74, 104, 255) 0%, rgb(180, 0, 255) 100%);
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
	border-radius: 10px;
	padding: 20px 0px;
	border-radius: 10px;
	box-shadow: 0 0 20px grey;
	box-sizing: border-box;
}
.gambar{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: #fff;
	margin: 10px auto;
	transition: 0.3s;

}
.box h3{
	height: 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 28px;
	padding: 5px 0px;
}
.gambar:hover{
	box-shadow: 0 0 50px rgba(255,255,255,0.5);
}
.login{
	padding-top: 50px;
}
.isian{
	border: none;
	padding: 20px 10px;
	margin-bottom: 10px;
	width: 300px;
	transition: 0.3s;
	border-radius: 7px;
}
.isian:hover{
	box-shadow: 0px 0px 10px white;
}
.tombol{
	background-color: #1111117a;
	border: none;
	padding: 14px 29px;
	color: #111;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	color: white;
	transition: 0.3s;
	cursor: pointer;
}
.tombol:hover{
	background: #57b846;
	color: white;
}